{
  "openapi": "3.0.0",
  "info": {
    "title": "/Users/simon/Downloads/flows-2 Mitmproxy2Swagger",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.onlinescoutmanager.co.uk/ext",
      "description": "The default server"
    }
  ],
  "paths": {
    "/users/auth/": {
      "post": {
        "summary": "POST auth",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "now_ts": {
                      "type": "number"
                    },
                    "security_question": {
                      "type": "string"
                    },
                    "security_letters": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "security_recoverable": {
                      "type": "boolean"
                    },
                    "security_number": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "now_ts": 1752695675,
                  "security_question": "What was the model of your first car?",
                  "security_letters": [
                    0,
                    1,
                    2
                  ],
                  "security_recoverable": true,
                  "security_number": "+4477******56"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Jane Smith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": "password123 string",
                  "device_id": {
                    "type": "string"
                  },
                  "seen": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "anna.rodriguez@example.com",
                "password": "password123",
                "device_id": "12345678-1234-1234-1234-964708046964",
                "seen": "internal 2"
              }
            }
          }
        }
      }
    },
    "/generic/startup/": {
      "get": {
        "summary": "GET startup",
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "parameters": [
          {
            "name": "Jane Smith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Mike Johnson",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ]
      }
    },
    "/members/contact/": {
      "get": {
        "summary": "GET contact",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "identifier": {
                      "type": "string"
                    },
                    "photos": {
                      "type": "boolean"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstname": {
                            "type": "string"
                          },
                          "lastname": {
                            "type": "string"
                          },
                          "photo_guid": {
                            "type": "string"
                          },
                          "patrolid": {
                            "type": "number"
                          },
                          "patrol": {
                            "type": "string"
                          },
                          "sectionid": {
                            "type": "number"
                          },
                          "enddate": {
                            "type": "object",
                            "nullable": true
                          },
                          "age": {
                            "type": "string"
                          },
                          "patrol_role_level_label": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "scoutid": {
                            "type": "number"
                          },
                          "full_name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "identifier": "scoutid",
                  "photos": true,
                  "items": [
                    {
                      "firstname": "Mike Johnson",
                      "lastname": "Mike Johnson",
                      "photo_guid": "12345678-1234-1234-1234-448647446173",
                      "patrolid": 119075,
                      "patrol": "Black Lodge LL",
                      "sectionid": 49097,
                      "enddate": null,
                      "age": "8 / 1",
                      "patrol_role_level_label": "Lodge Leader",
                      "active": true,
                      "scoutid": 1809627,
                      "full_name": "Mike Johnson"
                    },
                    {
                      "firstname": "Mike Johnson",
                      "lastname": "Mike Johnson",
                      "photo_guid": "12345678-1234-1234-1234-589148456824",
                      "patrolid": 119076,
                      "patrol": "Purple Lodge LL",
                      "sectionid": 49097,
                      "enddate": null,
                      "age": "8 / 0",
                      "patrol_role_level_label": "Lodge Leader",
                      "active": true,
                      "scoutid": 1601995,
                      "full_name": "Jane Smith"
                    },
                    {
                      "firstname": "Mike Johnson",
                      "lastname": "Mike Johnson",
                      "photo_guid": "12345678-1234-1234-1234-120727081602",
                      "patrolid": 119077,
                      "patrol": "Orange Lodge LL",
                      "sectionid": 49097,
                      "enddate": null,
                      "age": "7 / 10",
                      "patrol_role_level_label": "Lodge Leader",
                      "active": true,
                      "scoutid": 2060746,
                      "full_name": "Mike Johnson"
                    },
                    {
                      "firstname": "Mike Johnson",
                      "lastname": "Mike Johnson",
                      "photo_guid": "12345678-1234-1234-1234-501423958710",
                      "patrolid": 119078,
                      "patrol": "White Lodge LL",
                      "sectionid": 49097,
                      "enddate": null,
                      "age": "7 / 10",
                      "patrol_role_level_label": "Lodge Leader",
                      "active": true,
                      "scoutid": 2111241,
                      "full_name": "Mike Johnson"
                    },
                    {
                      "firstname": "Mike Johnson",
                      "lastname": "Mike Johnson",
                      "photo_guid": "12345678-1234-1234-1234-940214861747",
                      "patrolid": 119078,
                      "patrol": "White Lodge",
                      "sectionid": 49097,
                      "enddate": null,
                      "age": "7 / 10",
                      "patrol_role_level_label": "",
                      "active": true,
                      "scoutid": 1976600,
                      "full_name": "Mike Johnson"
                    },
                    {
                      "firstname": "Jane Smith",
                      "lastname": "David Brown",
                      "photo_guid": "12345678-1234-1234-1234-216554920775",
                      "patrolid": 119076,
                      "patrol": "Purple Lodge",
                      "sectionid": 49097,
                      "enddate": null,
                      "age": "7 / 9",
                      "patrol_role_level_label": "",
                      "active": true,
                      "scoutid": 2220040,
                      "full_name": "Jane Smith"
                    },
                    {
                      "firstname": "Mike Johnson",
                      "lastname": "Mike Johnson",
                      "photo_guid": "12345678-1234-1234-1234-866271320568",
                      "patrolid": 119077,
                      "patrol": "Orange Lodge",
                      "sectionid": 49097,
                      "enddate": null,
                      "age": "7 / 6",
                      "patrol_role_level_label": "",
                      "active": true,
                      "scoutid": 2215826,
                      "full_name": "Jane Smith"
                    },
                    {
                      "firstname": "Mike Johnson",
                      "lastname": "Mike Johnson",
                      "photo_guid": "12345678-1234-1234-1234-130249662332",
                      "patrolid": 119075,
                      "patrol": "Black Lodge",
                      "sectionid": 49097,
                      "enddate": null,
                      "age": "7 / 6",
                      "patrol_role_level_label": "",
                      "active": true,
                      "scoutid": 2380354,
                      "full_name": "David Brown"
                    },
                    {
                      "firstname": "Jane Smith",
                      "lastname": "Jane Smith",
                      "photo_guid": "12345678-1234-1234-1234-429058423196",
                      "patrolid": 119076,
                      "patrol": "Purple Lodge",
                      "sectionid": 49097,
                      "enddate": null,
                      "age": "7 / 5",
                      "patrol_role_level_label": "",
                      "active": true,
                      "scoutid": 2112349,
                      "full_name": "Jane Smith"
                    },
                    {
                      "firstname": "Mike Johnson",
                      "lastname": "Mike Johnson",
                      "photo_guid": "12345678-1234-1234-1234-459700405685",
                      "patrolid": 119075,
                      "patrol": "Black Lodge",
                      "sectionid": 49097,
                      "enddate": null,
                      "age": "7 / 3",
                      "patrol_role_level_label": "",
                      "active": true,
                      "scoutid": 2430006,
                      "full_name": "Mike Johnson"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Jane Smith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Mike Johnson",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Mike Johnson",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Jane Smith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Jane Smith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "POST contact",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "last_updated": {
                          "type": "string"
                        },
                        "last_updated_by_name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "meta": {
                    "last_updated": "1990-01-01 20:55:33",
                    "last_updated_by_name": "Mike Johnson"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Jane Smith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "scoutid": {
                    "type": "string"
                  },
                  "column": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  },
                  "sectionid": {
                    "type": "string"
                  },
                  "context": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "scoutid": "1809627",
                "column": "patrolid",
                "value": "119076",
                "sectionid": "49097",
                "context": "members"
              }
            }
          }
        }
      }
    },
    "/settings/patrols/": {
      "get": {
        "summary": "GET patrols",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "patrols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "patrolid": {
                            "type": "string"
                          },
                          "sectionid": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "active": {
                            "type": "string"
                          },
                          "points": {
                            "type": "string"
                          },
                          "census_costs": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "patrols": [
                    {
                      "patrolid": "-3",
                      "sectionid": "-2",
                      "name": "Mike Johnson",
                      "active": "1",
                      "points": "0",
                      "census_costs": false
                    },
                    {
                      "patrolid": "-2",
                      "sectionid": "-2",
                      "name": "Jane Smith",
                      "active": "1",
                      "points": "0",
                      "census_costs": false
                    },
                    {
                      "patrolid": "119075",
                      "sectionid": "49097",
                      "name": "Jane Smith",
                      "active": "1",
                      "points": "0",
                      "census_costs": false
                    },
                    {
                      "patrolid": "119076",
                      "sectionid": "49097",
                      "name": "Mike Johnson",
                      "active": "1",
                      "points": "0",
                      "census_costs": false
                    },
                    {
                      "patrolid": "119077",
                      "sectionid": "49097",
                      "name": "Mike Johnson",
                      "active": "1",
                      "points": "0",
                      "census_costs": false
                    },
                    {
                      "patrolid": "119078",
                      "sectionid": "49097",
                      "name": "Mike Johnson",
                      "active": "1",
                      "points": "0",
                      "census_costs": false
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Jane Smith",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Mike Johnson",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ]
      }
    },
    "/members/contact/grid/": {
      "post": {
        "summary": "POST grid",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "photo_guid": {
                            "type": "string"
                          },
                          "patrol": {
                            "type": "string"
                          },
                          "started": {
                            "type": "string"
                          },
                          "joined": {
                            "type": "string"
                          },
                          "age": {
                            "type": "string"
                          },
                          "patrol_role_level_label": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "read_only": {
                            "type": "array",
                            "items": {}
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "member_id": {
                            "type": "number"
                          },
                          "pic": {
                            "type": "boolean"
                          },
                          "patrol_id": {
                            "type": "number"
                          },
                          "patrol_role_level": {
                            "type": "number"
                          },
                          "end_date": {
                            "type": "object",
                            "nullable": true
                          },
                          "section_id": {
                            "type": "number"
                          },
                          "date_of_birth": {
                            "type": "string"
                          },
                          "custom_data": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "age_years": {
                            "type": "number"
                          },
                          "age_months": {
                            "type": "number"
                          },
                          "_filterString": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "structure": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "group_id": {
                                "type": "number"
                              },
                              "config": {
                                "type": "object",
                                "properties": {
                                  "panel_height": {
                                    "type": "number"
                                  }
                                }
                              },
                              "group_type": {
                                "type": "string"
                              },
                              "identifier": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "description_mymember": {
                                "type": "string"
                              },
                              "display": {
                                "type": "string"
                              },
                              "width": {
                                "type": "number"
                              },
                              "columns": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "column_id": {
                                      "type": "number"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "required": {
                                      "type": "string"
                                    },
                                    "display_in_advanced_view": {
                                      "type": "string"
                                    },
                                    "display_if_empty": {
                                      "type": "string"
                                    },
                                    "hide_from_group_display": {
                                      "type": "string"
                                    },
                                    "config": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "varname": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "group_column_id": {
                                      "type": "string"
                                    },
                                    "allowed_member_ids": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "read_only": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "number"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "leader_count": {
                          "type": "number"
                        },
                        "youngleader_count": {
                          "type": "number"
                        },
                        "member_count": {
                          "type": "number"
                        },
                        "widths": {
                          "type": "object",
                          "properties": {
                            "first_name": {
                              "type": "number"
                            },
                            "last_name": {
                              "type": "number"
                            },
                            "patrol": {
                              "type": "number"
                            }
                          }
                        },
                        "email_flags": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "phone1_sms": {
                                  "type": "string"
                                },
                                "phone2_sms": {
                                  "type": "string"
                                },
                                "parent_portal_hide": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": true,
                  "error": null,
                  "data": {
                    "2690006": {
                      "photo_guid": "12345678-1234-1234-1234-302630994443",
                      "patrol": "Leaders",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "52 / 05",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 2690006,
                      "pic": true,
                      "patrol_id": -2,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Sam",
                          "3": "Luxford-Watts",
                          "7": "7 River Mount",
                          "12": "mike.johnson@example.com",
                          "14": "",
                          "18": "07767371366",
                          "20": ""
                        },
                        "2": {
                          "2": "",
                          "3": "",
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "3": {
                          "2": "",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "7 River Mount",
                          "12": "jane.smith@example.com",
                          "14": "",
                          "18": "07767371366",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "",
                          "24255": "",
                          "24256": "",
                          "24258": "",
                          "24257": "",
                          "24267": "1990-01-01 17:01:17:Sam Luxford-Watts"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 52,
                      "age_months": 5,
                      "_filterString": "Sarah Wilson"
                    },
                    "1919278": {
                      "photo_guid": "12345678-1234-1234-1234-218640234757",
                      "patrol": "Leaders",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "48 / 06",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 1919278,
                      "pic": true,
                      "patrol_id": -2,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Simon",
                          "3": "Clark",
                          "7": "123 Example Street",
                          "12": "",
                          "14": "",
                          "18": "07799063556",
                          "20": ""
                        },
                        "2": {
                          "2": "",
                          "3": "",
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "3": {
                          "2": "Catherine",
                          "3": "Clark",
                          "12": "kate.taylor@example.com",
                          "14": "",
                          "18": "07887524519",
                          "20": ""
                        },
                        "4": {
                          "2": "Forthouse",
                          "3": "",
                          "54": "",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "123 Example Street",
                          "12": "sarah.wilson@example.com",
                          "14": "emma.davis@example.com",
                          "18": "07799063556",
                          "20": ""
                        },
                        "9": {
                          "24253": "None",
                          "24254": "None",
                          "24255": "None",
                          "24256": "",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 09:05:43:Simon Clark"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 48,
                      "age_months": 6,
                      "_filterString": "Tom Anderson"
                    },
                    "2689948": {
                      "photo_guid": "12345678-1234-1234-1234-548748713807",
                      "patrol": "Leaders",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "47 / 02",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 2689948,
                      "pic": true,
                      "patrol_id": -2,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Tim",
                          "3": "Furnival",
                          "7": "",
                          "12": "jane.smith@example.com",
                          "14": "",
                          "18": "07870355024",
                          "20": ""
                        },
                        "2": {
                          "2": "",
                          "3": "",
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "3": {
                          "2": "Lily",
                          "3": "Furnival",
                          "12": "",
                          "14": "",
                          "18": "07920001765",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "chris.martinez@example.com",
                          "14": "",
                          "18": "07870355024",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "None",
                          "24255": "None",
                          "24256": "",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 20:36:28:Tim Furnival"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 47,
                      "age_months": 2,
                      "_filterString": "Helen White"
                    },
                    "2741802": {
                      "photo_guid": "12345678-1234-1234-1234-726808551028",
                      "patrol": "Leaders",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "44 / 11",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 2741802,
                      "pic": true,
                      "patrol_id": -2,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Maheen",
                          "3": "Mathew",
                          "7": "56 Misty's Field",
                          "12": "lisa.garcia@example.com",
                          "14": "",
                          "18": "07769548322",
                          "20": ""
                        },
                        "2": {
                          "2": "Marina",
                          "3": "Franklin-Mathew",
                          "7": "56 Misty's Field",
                          "12": "tom.anderson@example.com",
                          "14": "",
                          "18": "07531882800",
                          "20": ""
                        },
                        "3": {
                          "2": "Marina",
                          "3": "Franklin-Mathew",
                          "12": "",
                          "14": "",
                          "18": "07531882800",
                          "20": ""
                        },
                        "4": {
                          "2": "Redfern",
                          "3": "",
                          "54": "Fort house",
                          "18": "01932253055",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "jane.smith@example.com",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "None",
                          "24255": "None",
                          "24256": "",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 12:11:32:Elijah Franklin Mathew"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 44,
                      "age_months": 11,
                      "_filterString": "Steve Lewis"
                    },
                    "3101511": {
                      "photo_guid": null,
                      "patrol": "Leaders",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "42 / 07",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Jane Smith",
                      "member_id": 3101511,
                      "pic": false,
                      "patrol_id": -2,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Joanna",
                          "3": "Buttivant",
                          "7": "123 Example Street",
                          "12": "jane.smith@example.com",
                          "14": "",
                          "18": "077735057410",
                          "20": ""
                        },
                        "2": {
                          "2": "",
                          "3": "",
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "3": {
                          "2": "Joanna",
                          "3": "Buttivant",
                          "12": "tom.anderson@example.com",
                          "14": "",
                          "18": "07773505740",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "Fort House Surgery",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "john.doe@example.com",
                          "14": "james.miller@example.com",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "None",
                          "24255": "None",
                          "24256": "",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 19:09:25:Richard Buttivant"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 42,
                      "age_months": 7,
                      "_filterString": "David Brown"
                    },
                    "1910086": {
                      "photo_guid": "12345678-1234-1234-1234-482673443522",
                      "patrol": "Leaders",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "41 / 02",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson Walker",
                      "last_name": "Mike Johnson",
                      "member_id": 1910086,
                      "pic": true,
                      "patrol_id": -2,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "",
                          "3": "",
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "2": {
                          "2": "EMMA",
                          "3": "MACEY BROWN",
                          "7": "2 KINGS ROAD",
                          "12": "kate.taylor@example.com",
                          "14": "",
                          "18": "07841133058",
                          "20": ""
                        },
                        "3": {
                          "2": "Alun",
                          "3": "Macey",
                          "12": "kate.taylor@example.com",
                          "14": "",
                          "18": "07787551871",
                          "20": ""
                        },
                        "4": {
                          "2": "RED PRACTICE",
                          "3": "",
                          "54": "",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "123 Example Street",
                          "12": "chris.martinez@example.com",
                          "14": "",
                          "18": "07787551871",
                          "20": ""
                        },
                        "9": {
                          "24253": "NA",
                          "24254": "",
                          "24255": "",
                          "24256": "",
                          "24258": "",
                          "24257": "",
                          "24267": ""
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": "",
                          "27579": "",
                          "27580": "",
                          "38481": "",
                          "38476": "",
                          "38475": "",
                          "38478": "",
                          "38474": "",
                          "38479": "",
                          "38473": "",
                          "38477": "",
                          "38480": ""
                        }
                      },
                      "age_years": 41,
                      "age_months": 2,
                      "_filterString": "Mike Johnson"
                    },
                    "2542633": {
                      "photo_guid": "12345678-1234-1234-1234-106374997043",
                      "patrol": "Leaders",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "36 / 08",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "David Brown",
                      "member_id": 2542633,
                      "pic": true,
                      "patrol_id": -2,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Steven",
                          "3": "Fewster",
                          "7": "19 weir road",
                          "12": "david.brown@example.com",
                          "14": "",
                          "18": "07866607503",
                          "20": ""
                        },
                        "2": {
                          "2": "Emma",
                          "3": "Fewster",
                          "7": "19 weir road",
                          "12": "tom.anderson@example.com",
                          "14": "",
                          "18": "07528109045",
                          "20": ""
                        },
                        "3": {
                          "2": "Steven Fewster",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "Yellow practice",
                          "3": "",
                          "54": "",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "anna.rodriguez@example.com",
                          "14": "",
                          "18": "07528109045",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "penicillin",
                          "24255": "Vegetarian",
                          "24256": "",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 21:22:04:Emma Fewster"
                        },
                        "7": {
                          "34": ""
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": "",
                          "38476": "",
                          "38475": "",
                          "38478": "",
                          "38474": "",
                          "38479": "",
                          "38473": "",
                          "38477": "",
                          "38480": ""
                        }
                      },
                      "age_years": 36,
                      "age_months": 8,
                      "_filterString": "Mark Thompson"
                    },
                    "1330285": {
                      "photo_guid": "12345678-1234-1234-1234-350961554074",
                      "patrol": "Young Leaders (YLs)",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "18 / 03",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 1330285,
                      "pic": true,
                      "patrol_id": -3,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Karen",
                          "3": "Ching",
                          "7": "",
                          "12": "lisa.garcia@example.com",
                          "14": "",
                          "18": "07879296233",
                          "20": ""
                        },
                        "2": {
                          "2": "Michael",
                          "3": "Kyritsis",
                          "7": "",
                          "12": "james.miller@example.com",
                          "14": "",
                          "18": "07799768053",
                          "20": ""
                        },
                        "3": {
                          "2": "",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "Fort House Surgery",
                          "18": "01932253055",
                          "20": ""
                        },
                        "6": {
                          "7": "123 Example Street",
                          "12": "james.miller@example.com",
                          "14": "john.doe@example.com",
                          "18": "07460711357",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "",
                          "24255": "",
                          "24256": "",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 09:17:14:Michael Kyritsis"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": "",
                          "27579": "",
                          "27580": true,
                          "38481": "",
                          "38476": "",
                          "38475": "",
                          "38478": "",
                          "38474": "",
                          "38479": "",
                          "38473": "",
                          "38477": "",
                          "38480": ""
                        }
                      },
                      "age_years": 18,
                      "age_months": 3,
                      "_filterString": "Kate Taylor"
                    },
                    "311708": {
                      "photo_guid": "12345678-1234-1234-1234-986992068939",
                      "patrol": "Young Leaders (YLs)",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "17 / 07",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson Walker",
                      "last_name": "Mike Johnson",
                      "member_id": 311708,
                      "pic": true,
                      "patrol_id": -3,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Emma",
                          "3": "Hart",
                          "7": "Talisgrove House",
                          "12": "chris.martinez@example.com",
                          "14": "",
                          "18": "07876187138",
                          "20": ""
                        },
                        "2": {
                          "2": "Christopher",
                          "3": "Pratt",
                          "7": "Talisgrove House",
                          "12": "anna.rodriguez@example.com",
                          "14": "",
                          "18": "07747025678",
                          "20": ""
                        },
                        "3": {
                          "2": "Emma",
                          "3": "Hart",
                          "12": "kate.taylor@example.com",
                          "14": "",
                          "18": "07876187138",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "Fort House Surgery",
                          "18": "01932253055",
                          "20": ""
                        },
                        "6": {
                          "7": "Talisgrave House",
                          "12": "kate.taylor@example.com",
                          "14": "",
                          "18": "07915556030",
                          "20": ""
                        },
                        "9": {
                          "24253": "None Known",
                          "24254": "None Known",
                          "24255": "None",
                          "24256": "2018",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 23:20:13:Christopher Pratt"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": "",
                          "27579": "",
                          "27580": true,
                          "38481": "",
                          "38476": "",
                          "38475": "",
                          "38478": "",
                          "38474": "",
                          "38479": "",
                          "38473": "",
                          "38477": "",
                          "38480": ""
                        }
                      },
                      "age_years": 17,
                      "age_months": 7,
                      "_filterString": "Steve Lewis"
                    },
                    "1766495": {
                      "photo_guid": "12345678-1234-1234-1234-448143043908",
                      "patrol": "Young Leaders (YLs)",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "14 / 11",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "David Brown",
                      "member_id": 1766495,
                      "pic": true,
                      "patrol_id": -3,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Tracey",
                          "3": "Stone",
                          "7": "",
                          "12": "lisa.garcia@example.com",
                          "14": "lisa.garcia@example.com",
                          "18": "+44XXXXXXXXXX",
                          "20": ""
                        },
                        "2": {
                          "2": "Bryan",
                          "3": "Stone",
                          "7": "16a, Sidney Road",
                          "12": "david.brown@example.com",
                          "14": "mike.johnson@example.com",
                          "18": "07711727275",
                          "20": ""
                        },
                        "3": {
                          "2": "",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "The Red Practice",
                          "18": "01932 414139",
                          "20": ""
                        },
                        "6": {
                          "7": "16a Sidney Road",
                          "12": "james.miller@example.com",
                          "14": "",
                          "18": "07434 875896",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "Penicillin",
                          "24255": "None",
                          "24256": "",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 18:22:57:Tracey Stone"
                        },
                        "7": {
                          "34": "Female"
                        },
                        "10": {
                          "24265": "",
                          "27579": true,
                          "27580": true,
                          "38481": "",
                          "38476": "",
                          "38475": "",
                          "38478": "",
                          "38474": "",
                          "38479": "",
                          "38473": "",
                          "38477": "",
                          "38480": ""
                        }
                      },
                      "age_years": 14,
                      "age_months": 11,
                      "_filterString": "Grace Allen"
                    },
                    "1809627": {
                      "photo_guid": "12345678-1234-1234-1234-850826697558",
                      "patrol": "Black Lodge",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "08 / 01",
                      "patrol_role_level_label": "Lodge Leader",
                      "active": true,
                      "read_only": [],
                      "first_name": "Jane Smith",
                      "last_name": "Jane Smith",
                      "member_id": 1809627,
                      "pic": true,
                      "patrol_id": 119075,
                      "patrol_role_level": 2,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Paul",
                          "3": "Marriner",
                          "7": "123 Example Street",
                          "12": "sarah.wilson@example.com",
                          "14": "",
                          "18": "07536061600",
                          "20": ""
                        },
                        "2": {
                          "2": "Jenny",
                          "3": "Marriner",
                          "7": "123 Example Street",
                          "12": "lisa.garcia@example.com",
                          "14": "",
                          "18": "07411141976",
                          "20": ""
                        },
                        "3": {
                          "2": "Mo",
                          "3": "Dunning",
                          "12": "anna.rodriguez@example.com",
                          "14": "",
                          "18": "07876793012",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "Fort House Surgery",
                          "18": "01932253055",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "None",
                          "24254": "None",
                          "24255": "None",
                          "24256": "Nov 2020",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 14:19:15:Paul Marriner"
                        },
                        "7": {
                          "34": "Female"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 8,
                      "age_months": 1,
                      "_filterString": "Jane Smith"
                    },
                    "1601995": {
                      "photo_guid": "12345678-1234-1234-1234-936360911266",
                      "patrol": "Purple Lodge",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "08 / 00",
                      "patrol_role_level_label": "Lodge Leader",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 1601995,
                      "pic": true,
                      "patrol_id": 119076,
                      "patrol_role_level": 2,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "GEMMA",
                          "3": "Fielding",
                          "7": "123 Example Street",
                          "12": "chris.martinez@example.com",
                          "14": "",
                          "18": "07850929864",
                          "20": ""
                        },
                        "2": {
                          "2": "Matthew",
                          "3": "Smith",
                          "7": "123 Example Street",
                          "12": "emma.davis@example.com",
                          "14": "",
                          "18": "07808798507",
                          "20": ""
                        },
                        "3": {
                          "2": "Gemma",
                          "3": "Fielding",
                          "12": "john.doe@example.com",
                          "14": "",
                          "18": "07850929864",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "Forthouse Surgery",
                          "18": "01932 253055",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "None",
                          "24255": "None",
                          "24256": "",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 20:58:14:Gemma Fielding"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": false,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 8,
                      "age_months": 0,
                      "_filterString": "Sarah Wilson"
                    },
                    "2060746": {
                      "photo_guid": "12345678-1234-1234-1234-385624116386",
                      "patrol": "Orange Lodge",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "07 / 10",
                      "patrol_role_level_label": "Lodge Leader",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 2060746,
                      "pic": true,
                      "patrol_id": 119077,
                      "patrol_role_level": 2,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Lindsay",
                          "3": "Hendricks",
                          "7": "31a Sidney road",
                          "12": "david.brown@example.com",
                          "14": "sarah.wilson@example.com",
                          "18": "07738629664",
                          "20": ""
                        },
                        "2": {
                          "2": "Mark",
                          "3": "Hendricks",
                          "7": "31a Sidney Road",
                          "12": "sarah.wilson@example.com",
                          "14": "",
                          "18": "07792957229",
                          "20": ""
                        },
                        "3": {
                          "2": "",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "Fort House",
                          "3": "Surgery",
                          "54": "",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "None",
                          "24254": "N/a",
                          "24255": "N/a",
                          "24256": "Up to date (following NHS immunisation programme)",
                          "24258": false,
                          "24257": "",
                          "24267": "1990-01-01 13:03:15:Lindsay Hendricks"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 7,
                      "age_months": 10,
                      "_filterString": "Kate Taylor"
                    },
                    "2111241": {
                      "photo_guid": "12345678-1234-1234-1234-307309934512",
                      "patrol": "White Lodge",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "07 / 10",
                      "patrol_role_level_label": "Lodge Leader",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "David Brown",
                      "member_id": 2111241,
                      "pic": true,
                      "patrol_id": 119078,
                      "patrol_role_level": 2,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Darren",
                          "3": "Malone",
                          "7": "19 Midway",
                          "12": "tom.anderson@example.com",
                          "14": "",
                          "18": "07776188823",
                          "20": ""
                        },
                        "2": {
                          "2": "Marilyn",
                          "3": "Malone",
                          "7": "",
                          "12": "tom.anderson@example.com",
                          "14": "",
                          "18": "07887501302",
                          "20": ""
                        },
                        "3": {
                          "2": "",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "",
                          "24255": "",
                          "24256": "",
                          "24258": false,
                          "24257": "",
                          "24267": "1990-01-01 17:46:58:Darren Malone"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 7,
                      "age_months": 10,
                      "_filterString": "Jane Smith"
                    },
                    "1976600": {
                      "photo_guid": "12345678-1234-1234-1234-634270023718",
                      "patrol": "White Lodge",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "07 / 10",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Jane Smith",
                      "member_id": 1976600,
                      "pic": true,
                      "patrol_id": 119078,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Chitra",
                          "3": "Kotwani",
                          "7": "10A",
                          "12": "james.miller@example.com",
                          "14": "",
                          "18": "07448780209",
                          "20": ""
                        },
                        "2": {
                          "2": "Jacek",
                          "3": "Blaszkowski",
                          "7": "10A",
                          "12": "david.brown@example.com",
                          "14": "",
                          "18": "07922584918",
                          "20": "07910936111"
                        },
                        "3": {
                          "2": "",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "",
                          "24255": "",
                          "24256": "",
                          "24258": false,
                          "24257": "",
                          "24267": "1990-01-01 16:14:33:Chitra Kotwani"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 7,
                      "age_months": 10,
                      "_filterString": "Dan Hall"
                    },
                    "2220040": {
                      "photo_guid": "12345678-1234-1234-1234-846836252768",
                      "patrol": "Purple Lodge",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "07 / 09",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 2220040,
                      "pic": true,
                      "patrol_id": 119076,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Victoria",
                          "3": "Tompsett",
                          "7": "Flat 1 lodge house",
                          "12": "mike.johnson@example.com",
                          "14": "",
                          "18": "07817225931",
                          "20": ""
                        },
                        "2": {
                          "2": "Richard",
                          "3": "Tompset",
                          "7": "Flat 1 lodge house",
                          "12": "",
                          "14": "",
                          "18": "07931297334",
                          "20": ""
                        },
                        "3": {
                          "2": "",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "The red practice",
                          "18": "01932504410",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "",
                          "24255": "",
                          "24256": "",
                          "24258": false,
                          "24257": "",
                          "24267": "1990-01-01 20:19:13:Vicky Tompsett"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 7,
                      "age_months": 9,
                      "_filterString": "Mike Johnson"
                    },
                    "2215826": {
                      "photo_guid": "12345678-1234-1234-1234-670322409407",
                      "patrol": "Orange Lodge",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "07 / 06",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson Miller",
                      "last_name": "Mike Johnson",
                      "member_id": 2215826,
                      "pic": true,
                      "patrol_id": 119077,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Jules",
                          "3": "McGarry",
                          "7": "123 Example Street",
                          "12": "john.doe@example.com",
                          "14": "",
                          "18": "07904098574",
                          "20": ""
                        },
                        "2": {
                          "2": "Andrew",
                          "3": "Bolton",
                          "7": "123 Example Street",
                          "12": "",
                          "14": "",
                          "18": "07495332885",
                          "20": ""
                        },
                        "3": {
                          "2": "Julie",
                          "3": "McGarry",
                          "12": "john.doe@example.com",
                          "14": "",
                          "18": "07904098574",
                          "20": ""
                        },
                        "4": {
                          "2": "Roberta",
                          "3": "Jones",
                          "54": "Fort House",
                          "18": "01932 253055",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "N/A",
                          "24254": "N/A",
                          "24255": "N/A",
                          "24256": "",
                          "24258": false,
                          "24257": "Can probably swim 50m w buoyancy aid",
                          "24267": "1990-01-01 10:36:34:Julie McGarry"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 7,
                      "age_months": 6,
                      "_filterString": "Tom Anderson"
                    },
                    "2380354": {
                      "photo_guid": "12345678-1234-1234-1234-907845630415",
                      "patrol": "Black Lodge",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "07 / 06",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 2380354,
                      "pic": true,
                      "patrol_id": 119075,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "Philip",
                          "3": "Van Eeuwen Meir",
                          "7": "123 Example Street",
                          "12": "james.miller@example.com",
                          "14": "",
                          "18": "07789 204248",
                          "20": ""
                        },
                        "2": {
                          "2": "Meredith",
                          "3": "Van Eeuwen",
                          "7": "123 Example Street",
                          "12": "kate.taylor@example.com",
                          "14": "",
                          "18": "07733 179326",
                          "20": ""
                        },
                        "3": {
                          "2": "",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "None",
                          "24255": "None",
                          "24256": "",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 12:09:33:Meredith Van Eeuwen"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 7,
                      "age_months": 6,
                      "_filterString": "Steve Lewis"
                    },
                    "2112349": {
                      "photo_guid": "12345678-1234-1234-1234-943096348348",
                      "patrol": "Purple Lodge",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "07 / 05",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 2112349,
                      "pic": true,
                      "patrol_id": 119076,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "ALUN",
                          "3": "MACEY",
                          "7": "2",
                          "12": "jane.smith@example.com",
                          "14": "",
                          "18": "+44XXXXXXXXXX",
                          "20": ""
                        },
                        "2": {
                          "2": "Emma",
                          "3": "MACEY brown",
                          "7": "2 kings rd",
                          "12": "",
                          "14": "",
                          "18": "07841 133058",
                          "20": ""
                        },
                        "3": {
                          "2": "as above",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "Fort House",
                          "3": "",
                          "54": "",
                          "18": "01932253055",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "Na",
                          "24254": "Na",
                          "24255": "Na",
                          "24256": "Unsure",
                          "24258": false,
                          "24257": "unless with a buoyancy aid",
                          "24267": "1990-01-01 11:43:26:Alun Macey"
                        },
                        "7": {
                          "34": "Female"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
                      "age_years": 7,
                      "age_months": 5,
                      "_filterString": "Lisa Garcia"
                    },
                    "2430006": {
                      "photo_guid": "12345678-1234-1234-1234-360647094039",
                      "patrol": "Black Lodge",
                      "started": "1990-01-01",
                      "joined": "1990-01-01",
                      "age": "07 / 03",
                      "patrol_role_level_label": "",
                      "active": true,
                      "read_only": [],
                      "first_name": "Mike Johnson",
                      "last_name": "Mike Johnson",
                      "member_id": 2430006,
                      "pic": true,
                      "patrol_id": 119075,
                      "patrol_role_level": 0,
                      "end_date": null,
                      "section_id": 49097,
                      "date_of_birth": "1990-01-01",
                      "custom_data": {
                        "1": {
                          "2": "James",
                          "3": "Waggott",
                          "7": "123 Example Street",
                          "12": "john.doe@example.com",
                          "14": "",
                          "18": "07932088592",
                          "20": ""
                        },
                        "2": {
                          "2": "Emma",
                          "3": "Waggott",
                          "7": "123 Example Street",
                          "12": "emma.davis@example.com",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "3": {
                          "2": "",
                          "3": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "4": {
                          "2": "",
                          "3": "",
                          "54": "",
                          "18": "",
                          "20": ""
                        },
                        "6": {
                          "7": "",
                          "12": "",
                          "14": "",
                          "18": "",
                          "20": ""
                        },
                        "9": {
                          "24253": "",
                          "24254": "None",
                          "24255": "",
                          "24256": "",
                          "24258": true,
                          "24257": "",
                          "24267": "1990-01-01 09:16:28:James Waggott"
                        },
                        "7": {
                          "34": "Male"
                        },
                        "10": {
                          "24265": true,
                          "27579": true,
                          "27580": true,
                          "38481": true,
                          "38476": true,
                          "38475": true,
                          "38478": true,
                          "38474": true,
                          "38479": true,
                          "38473": true,
                          "38477": true,
                          "38480": true
                        }
                      },
[...]
